$primary: #d42c83;
$secondary: #359ae8e1;

ul {
    list-style: none;
    padding-left: 0 !important;
}

li {
    border: 1px solid #ccc;
}

i {
    fill: #fff;
    width: 1rem;
    height: 1rem;
    pointer-events: none;
}

input[type="checkbox"] {
    appearance: none;
    position: relative;
    width: 1rem;
    height: 1rem;
    border: 1px solid $primary;
    border-radius: 50%;
}

input[type="checkbox"]:checked {

}

input[type="checkbox"]:checked::after {
    content: '';
    position: absolute;
    inset: 0;
    border-radius: 50%;
    border: 2px solid #fff;
    background-color: $primary;
}

.btn.active {
    background: $secondary !important;
    border: none;
}



// Import all of Bootstrap's CSS
@import "bootstrap/scss/bootstrap"; //bootstrap sass
$bootstrap-icons-font-dir: "~bootstrap-icons/font/fonts"; //icon
@import "~bootstrap-icons/font/bootstrap-icons.scss";  //icon